@import "tailwindcss";

@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 2rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}

.pokemon-name {
  font-family: "DungGeunMo";
  letter-spacing: 0.04em;
  color: #f5f5f5;
  /* text-shadow: 0 2px 0 rgba(123, 122, 122, 0.6),
    0 0 12px rgba(241, 203, 48, 0.507); */
}

/* nav 클릭시 */
.active {
  color: aliceblue;
}

/* 검색창 */
.nav-search {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 10px 40px 10px 14px;
  outline: none;
  transition: 0.25s;
}

.nav-search::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.nav-search:focus {
  border-color: #888888;
}

/* 카드 리스트 */
.card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(16px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.3s ease;
}

.card img {
  filter: drop-shadow(0 0 18px rgba(141, 113, 3, 0.45));
  transition: transform 0.3s ease;
}

.section {
  transition: 0.3s;
}

.section:hover {
  transform: scale(1.1);
  transition: 0.3s;
  border-color: rgba(59, 130, 246, 0.6);
  box-shadow: 0 0 20px rgba(53, 128, 250, 0.35),
    inset 0 0 0 rgba(255, 255, 255, 0.1);
}
